@import url(./reset.css);
body {
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}
.wrapper {
  width: 1192px;
  height: 736px;
  margin: auto;

  border-left: 20px solid #3a4965;
  border-right: 29px solid #3a4965;
  border-top: 22px solid #3a4965;
  border-bottom: 32px solid #3a4965;
}
table {
  width: 100%;
  height: 100%;
}

td {
  border: 1px solid rgba(0, 0, 0, 0.27);
  text-align: center;
  vertical-align: middle;
}
tr:nth-child(2n + 3) {
  background-color: #f2f2f2;
}
tr:nth-child(2n + 4) {
  background-color: #e3e3e3;
}

.r1c1 {
  width: 313px;
  height: 159px;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
}
.r1c1 span {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}
.select {
  width: 280px;
  height: 73px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  border: none;
}
.standart {
  background-color: #89c331;
}
.ultimate {
  background-color: #f04a56;
  font-size: 30px;
}
.premium {
  background-color: #20807c;
}
.price {
  width: 280px;
  height: 89px;
}
.price-number {
  display: inline-block;
  position: relative;
  top: 13px;

  width: 128px;
  height: 50px;
  font-weight: 700;
  font-size: 60px;
}
.price-number::after {
  content: ".99";
  position: absolute;
  bottom: 60px;

  font-size: 24px;
}
.permonth {
  font-size: 18px;
  line-height: 28px;
}
tr {
  height: 72px;
}
.footer-row {
  height: 109px;
}
.button {
  position: relative;
  width: 192px;
  height: 51px;
  border-radius: 5px;

  border: none;
  font-family: "Arimo";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
.button::after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.button-gray {
  background-color: #484848;
}
.button-greenlight {
  background-color: #89c331;
}
.button-red {
  background-color: #f04a56;
}
.button-green {
  background-color: #20807c;
}
.footer-row td:first-child {
  background-color: #dddddd;
}
.footer-row td:nth-child(2),
.footer-row td:nth-child(4) {
  background-color: #eeeeee;
}
.footer-row td:nth-child(3) {
  background-color: #f4f4f4;
}
