@import url(./reset.css);
body {
  font-family: "Arimo", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #484848;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}
.wrapper {
  width: 1197px;
  height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top: 28px; */
  /* display: block; */

  background-color: #3a4965;
  /* margin: auto; */
}
.table {
  width: 1137px;
  /* height: 100%; */
  /* height: 106px; */
  /* background-color: #f2f2f2; */
}
th,
td {
  line-height: 24px;
  /* border: 1px solid black; */
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
}
.header-tr {
  height: 115px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2) inset;
  background-color: #f2f2f2;
}
tr {
  background-color: #f2f2f2;
}

table tr td:nth-child(even),
table tr th:nth-child(even) {
  background-color: #ccc;
  background-clip: padding-box;
}
.table tr:nth-child(3),
.table tr:nth-child(4) {
  border-bottom: 1px solid #2d2b2b35;
}
.firstbox {
  width: 201px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #484848;
}
.firstbox span {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  color: #484848;
}
.empty-tr {
  height: 12px;
  opacity: 0;
}
.header-th {
  width: 160px;
}
.header-text-image {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: rgba(72, 72, 72, 1);
  padding-top: 10px;
}
.color-box {
  box-sizing: border-box;
  height: 167px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
  color: #ffffff;
}
.rate {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 13px;
}
.price {
  display: flex;
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  padding-bottom: 7px;
}
.cents {
  font-size: 18px;
}
.month {
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  padding-left: 10px;
}
.greenlight-box {
  background-color: #89c331;
}
.red-box {
  background-color: #f04a56;
}
.green-box {
  background-color: #20807c;
}

.button {
  position: relative;
  width: 147px;
  height: 44px;
  border-radius: 5px;

  border: none;
  font-family: "Arimo";
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #414141;
}
.button::after {
  content: "";
  position: absolute;

  top: 36px;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #343434;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
